<footer class="footer">
	<div class="container">
		<div class="row first-footer-row">
			<div class="col-md-4">
				<h3 class="footer-top logo--footer" tabindex="0">
					<img src="/images/pizza-brand-logo.jpg" alt="Order best pizza" width="60px">
				</h3>
			</div>
			<div class="col-md-4"></div>
			<div class="col-md-4 social-container">
				<i class="fa fa-facebook-official" aria-hidden="true"></i>
				<i class="fa fa-instagram" aria-hidden="true"></i>

			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<ul>
					<li>
						<a href="/home/about">
							About
						</a>
					</li>
					<li>
						<a href="#">
							Careers
						</a>
					</li>
					<li>
						<a href="#">
							Culture
						</a>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul>
					<li>
						<a href="#">
							Blog
						</a>
					</li>
					<li>
						<a href="#">
							Community
						</a>
					</li>
					<li>
						<a href="#">
							Contact
						</a>
					</li>
				</ul>
			</div>

			<div class="col-md-4">
				<a class="item active selected" href="#" style="padding-left: 28px !important;">English</a>
				<a class="item" href="#" style="padding-left: 28px !important;">Español</a>
				<a class="item" href="#" style="padding-left: 28px !important;">Indonesian</a>
			</div>
		</div>                                                        <div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
</div>
</div>
</footer>