// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bs-example-navbar-collapse-1 > ul > li > a{
padding-top: 25px;
padding-bottom: 25px;
}
.carousel {
max-height: 650px;
overflow: hidden;

.item img {
width: 100%;
height: auto;
}
}



body > .container{
background-color: #F8F8F8;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {

margin: auto;
}

.footer {
position: absolute;
width: 100%;
}

.container .text-muted {
margin: 20px 0;
}

body > nav > div > div.navbar-header > a > img{
height:inherit;
}

#navbar-bootstrapoverrides #signin{
background-color: #2F889A;
padding: 10px;
border-radius: 0.6em;
color:black;
margin:25px;
}
#navbar-bootstrapoverrides #signup{
background-color: #8BC34A;
padding: 10px;
border-radius: 0.6em;
color:black;
margin:25px;
}


#navbar-bootstrapoverrides #bs-example-navbar-collapse-1{
  
  background-color: #343642;
}


