// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.checkoutitem-img{
	height:100px;
	width: 100px;
}

.order-review{
	padding-top: 50px;
}