<div class="row drink-items">

	<%= div_for(@drinks, :class => "col-md-4 drink") do |item| %>
		<img class="center-block" src="/images/drinks/pepsi_soda_can.png" alt="sample-drink">
		<span class="drink-title text-center"><%= item.name %></span>
		<span class="drink-info text-center"><%= item.description %></span>
	<% end %>
</div>