<div id="pizzaSection" class="row pizza-items">
	
	<%= div_for(@pizzas, :class => "col-md-4 pizza") do |item| %>
		<img class="center-block" src="/images/sample-pizza.png" alt="sample-pizza">
		<span class="pizza-title text-center"><%= item.name %></span>
		<span class="pizza-info text-center"><%= item.description %></span>
	<% end %>


</div>