<div class="row pizza-items">
	<div class="col-md-4 pizza ">
		<img class="center-block" src="/images/sample-pizza.png" alt="sample-pizza">
		<span class="pizza-title text-center">Pizza 1</span>
		<span class="pizza-info text-center">epperoni, ham, Italian sausage, beef, fresh onions, fresh green peppers, fresh mushrooms and black olives, all sandwiched between two layers of cheese made with 100% real mozzarella.</span>
	</div>
	<div class="col-md-4 pizza ">
		<img class="center-block" src="/images/sample-pizza.png" alt="sample-pizza">
		<span class="pizza-title text-center">Pizza 1</span>
		<span class="pizza-info text-center">epperoni, ham, Italian sausage, beef, fresh onions, fresh green peppers, fresh mushrooms and black olives, all sandwiched between two layers of cheese made with 100% real mozzarella.</span>
	</div>
		<div class="col-md-4 pizza ">
		<img class="center-block" src="/images/sample-pizza.png" alt="sample-pizza">
		<span class="pizza-title">Pizza 1</span>
		<span class="pizza-info">epperoni, ham, Italian sausage, beef, fresh onions, fresh green peppers, fresh mushrooms and black olives, all sandwiched between two layers of cheese made with 100% real mozzarella.</span>
	</div>
		<div class="col-md-4 pizza ">
		<img class="center-block" src="/images/sample-pizza.png" alt="sample-pizza">
		<span class="pizza-title">Pizza 1</span>
		<span class="pizza-info">epperoni, ham, Italian sausage, beef, fresh onions, fresh green peppers, fresh mushrooms and black olives, all sandwiched between two layers of cheese made with 100% real mozzarella.</span>
	</div>
		<div class="col-md-4 pizza ">
		<img class="center-block" src="/images/sample-pizza.png" alt="sample-pizza">
		<span class="pizza-title">Pizza 1</span>
		<span class="pizza-info">epperoni, ham, Italian sausage, beef, fresh onions, fresh green peppers, fresh mushrooms and black olives, all sandwiched between two layers of cheese made with 100% real mozzarella.</span>
	</div>
		<div class="col-md-4 pizza ">
		<img class="center-block" src="/images/sample-pizza.png" alt="sample-pizza">
		<span class="pizza-title">Pizza 1</span>
		<span class="pizza-info">epperoni, ham, Italian sausage, beef, fresh onions, fresh green peppers, fresh mushrooms and black olives, all sandwiched between two layers of cheese made with 100% real mozzarella.</span>
	</div>
</div>