<div id="sidesSection" class="row side-items">
	
	<%= div_for(@sides, :class => "col-md-4 side") do |item| %>
		<img class="center-block" src="/images/sides-fries.png" alt="sample-side">
		<span class="side-title text-center"><%= item.name %></span>
		<span class="side-info text-center"><%= item.description %></span>
	<% end %>

</div>