<div class="row side-items">
	<div class="col-md-4 side">
		<img src="/images/sides-fries.png" alt="sample-side">
		<span class="side-title">Fries</span>
	</div>
	<div class="col-md-4 side">
		<p><i class="fa fa-pie-chart" aria-hidden="true"></i></p>
		<span class="side-title">Pizza 2</span>
	</div>
	<div class="col-md-4 side">
		<p><i class="fa fa-pie-chart" aria-hidden="true"></i></p>
		<span class="side-title">Pizza 3</span>
	</div>
</div>