<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<!-- header -->
	<%= render :partial => "shared/header" %> 

	<!-- main body container -->
	<div class="container">
		<div class="row menu-icons">
			<div class="col-md-4 menu-icon">
				<p><i class="fa fa-pie-chart" aria-hidden="true"></i></p>
				<span class="menu-title">Pizzas</span>
			</div>
			<div class="col-md-4 menu-icon">
				<p><i class="fa fa-cutlery" aria-hidden="true"></i></p>
				<span class="menu-title">Sides</span>
			</div>
			<div class="col-md-4 menu-icon">
				<p><i class="fa fa-glass" aria-hidden="true"></i></p>
				<span class="menu-title">Drinks</span>
			</div>
		</div>
	</div>

	<!-- footer -->
	<%= render :partial => "shared/footer" %> 
</body>
</html>